/* * {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}

@font-face {
  src: url(font/Lato-Bold.tff);
  font-family: lato;
} */

* {
  margin: 0;
  border: 0;
  text-decoration: none;
  font-family: Lato, "open Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: Lato;
}

.nav-bar {
  background-color: #293F50;
  padding: 35px 50px;
  display: flex;
}


.title {
  border-top: 4px solid #648880;
  margin-left: 18%;
  font-size: 48px;
  font-weight: 100;
  color: white;
  padding-top: 10;

}

.nav-bar nav {
  padding-left: 25%;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}

.nav-bar h3 {
  margin: 35px 0;
  text-align: right;
  color: #648880;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  text-decoration-style: none;
  text-align: right;
  font-size: 14px;
}

.nav-bar li {
  margin-right: 10%;
}

.nav-bar a, .title a {
  color: white;
}

.nav-bar a:hover {
  color: #648880;
}

.nav li {
  display: flex;
  list-style: none;
  color: white;
  margin-right: 25%;
}

.main {
  
}

.intro {
  background-color: #293F50;
  padding: 25px;
}

.intro h1 {
  color: #648880;
  text-align: center;
}

.intro p {
  color: white;
  font-size: 24px;
  font-size: 100;
  padding: 0 300px;
  text-align: center;
}

.btn {
  margin-top: 25px;
  border: 1px solid white;
  padding: 25px;
  background-color: transparent;
  margin-left: 43%;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.features {
  display: flex;
  width: 960px;
  margin: 5% 12%;
  color: #648880;
}

.features img {
  width: 279.96px;
  margin: 5% 0;
  border-radius: 5%;
}

.footer {
  background-color: #293F50;
  display: flex;
  padding: 1.5%;
  justify-content: center;
}

.subtitle2 {
  color: #648880;
  font-size: 14px;
  margin-right: 10%;
  padding-top: 2%;
}

.footer-items {
  list-style: none;
  display: flex;
  margin-left: 15%;
  padding-top: 2%;
}

.footer-items li {
  padding: 0 6%;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #648880;
}

