* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

.body {
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-bar {
    background-color: #293F50;
    padding: 15px 10px;
    width: 100%;
    display: flex;
    height: 150px;
    align-items: center;
}

.nav-elements {
    padding-left: 40%;
}

.nav-items a {
    color: white;
}

.nav-items {
    display: flex;
    list-style: none;
    text-decoration-style: none;
    text-align: right;
    justify-content: space-between;
    font-size: 14px;
}

.box a {
    color: #648880;
}

.title {
    border-top: 4px solid #648880;
    float: left;
    font-size: 48px;
    font-weight: 100;
    margin-left: 100px;
    color: white;
    margin-left: 10%;
}

.period {
    margin: 66px 0 0px 0;
    text-align: right;
    margin-right: 25%;
    color: #648880;
}

.nav {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
} 

.nav li {
    display: flex;
    list-style: none;
    color: white;
    margin-right: 25%;
}

.main {
   
}

.intro {
    background-color: #293F50;
    padding: 25px;
    width: 100%;
}

.intro h1 {
    color: #648880;
    text-align: center;
    
}

.intro p {
    color: white;
    font-size: 24px;
    font-size: 100;
    padding: 0 300px;
    text-align: center;
}

.btn {
    margin-top: 25px;
    border: 1px solid white;
    padding: 25px;
    background-color: transparent;
    margin-left: 43%;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.features {
    display: flex;
    width: 960px;
    margin: 5% 12%;
    color: #648880;
}

.features img {
    width: 279.96px;
    margin: 5% 0;
    border-radius: 5%;
}

.footer {
    background-color: #293F50;
    padding: 25px;
}

.footer p {
    color: #648880;
}

.footer ul {
    color: white;
}

