* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}

.body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-bar {
  background-color: #293F50;
  padding: 15px 50px;
  display: flex;
  align-items: center;
}

.nav-bar h1 {
  color: white;
}

.nav-bar nav {
  padding-left: 40%;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  text-decoration-style: none;
  text-align: right;
  font-size: 14px;
}

.nav-bar li {
  margin-right: 2%;
}

.nav-bar a {
  color: white;
}

.box a {
  color: #648880;
}

.title {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  color: white;
  margin-left: 10%;
}

.h3 {
  margin: 66px 0 0px 0;
  text-align: right;
  margin-right: 25%;
  color: #648880;
}

.nav {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
} 

.nav li {
  display: flex;
  list-style: none;
  color: white;
  margin-right: 25%;
}

.main {
  
}

.intro {
  background-color: #293F50;
  padding: 25px;
}

.intro h1 {
  color: #648880;
  text-align: center;
}

.intro p {
  color: white;
  font-size: 24px;
  font-size: 100;
  padding: 0 300px;
  text-align: center;
}

.btn {
  margin-top: 25px;
  border: 1px solid white;
  padding: 25px;
  background-color: transparent;
  margin-left: 43%;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.features {
  display: flex;
  width: 960px;
  margin: 5% 12%;
  color: #648880;
}

.features img {
  width: 279.96px;
  margin: 5% 0;
  border-radius: 5%;
}

.footer {
  background-color: #293F50;
  padding: 25px;
}

.footer p {
  color: #648880;
  margin: 1% 15%;
}

.footer ul {
  list-style: none;
  display: flex;
  margin-left: 60%;
}

.footer a {
  color: white;
  margin-right: 5%;
}

