* {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
    text-decoration: none;
}

.body {
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
}

.nav {
    display: flex;
    margin-right: 50px;
    background-color: aqua;
}

.nav-bar {
    display: flex;
}