*{
    margin: 0;
    padding: 0;
    font-family:  Lato, "Open Sans", "Helvetica Neue", Helvetica;
    text-decoration: none;
}

/* Header */
.nav-bar{
  display: flex;
  background-color: #293F50;
  height: 25vh;
  
  align-items: center;
  color: #ffffff;
  font-size: 1.4rem;
  /* padding: 15px 10px; */
}

.title{
  padding: 0 20%;
}

.nav-elements{
  margin: 0 8%;
  font-size: 16px;
  color: #ffffff;
  text-align: right;
}

.period{
  color: #648880;
}

/* .nav-items {
  text-align: right;
  
} */

.nav-items li { 
  display: inline-block;
  list-style: none;
  justify-content: space-between;
  list-style: none;
  margin: 2%;
  font-size: 14px;
  text-decoration-color: white;
}

.nav-items li a{
  color: #ffffff;
}

.nav-items a:hover{
  color: #648880;
}


/*  Main  */
.register{
  height: 30vh;
  padding: 0 5%;
  background-image: linear-gradient(to right, #a1d3b0, #f6f1d3);
  align-items: center;
  text-align: center;
}

.reg{
  font-size: 36px;
  padding: 30px 0;
  color: #648880;
}

.para{
  font-size: 21px;
  width: 50%;
  padding: 0 25%;
  color: #888888;
}

/*section-two */
.section-two{
  display: block;
  color: #293F50;
  
}
h5{
  color: #648880;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 22px
}

.text h2{
  margin-top: 22px
}

.why-attend{
  list-style: square;
  margin: 22px 30px;
}

.input-reg{
  display: flex;
  padding: 5% 15%;
}

.text{
  padding: 0 15px;
  display: inline-block;
  width: 90%;
  line-height: 3vh;
}

/*input Area */

.reg-input-area{
  display: block;
  padding: 0 3%;
  width: 50%;
  align-content: flex-start;
}

.fieldset label {
  display: inline-block;
  padding: 5% 8%;
  
}

fieldset input{
  /* border-radius: 5px; */
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}

.fieldset label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}

.textarea{
  border: 1px solid #22272c;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
  columns: 100;
}


.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin: 0;
  text-transform: uppercase;
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}

/* Footer */
.footer-items{
  display: flex;
  height: 5vh;
  align-items: center;
  background-color: #293F50;
  padding: 25px  20%;
}

.footer-nav-items{
  display: flex;
}

.footer-nav-items li {
  display: inline-block;
  list-style: none;
  margin: 25%;
  font-size: 14px;
  color: white;
}