@font-face {
  src: url(font/Lato-Bold.tff);
  font-family: lato;
}

* {
  margin: 0;
  border: 0;
  text-decoration: none;
  font-family: "Lato", "open Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: Lato;
}
