
* {
  margin: 0;
  border: 0;
  text-decoration: none;
  font-family: Lato, "open Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: Lato;
}

  
@font-face {
  src: url(font/Lato-Bold.tff);
  font-family: lato;
}

/* @media only screen and (max-device-width: 480px) {
  .nav-bar {
      width: 100%;
      margin: 0;
      padding: 0;
  }

} */