* {
    margin: 0;
    border: 0;
    text-decoration: none;
    font-family: Lato, "open Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: Lato;
  }
  
  .body {
    background: #293f50;
    color: #888;
  }
  
  .nav-bar {
    background-color: #293F50;
    padding: 35px 50px;
    display: flex;
  }
  
  
  .title {
    border-top: 4px solid #648880;
    margin-left: 18%;
    font-size: 48px;
    font-weight: 100;
    color: white;
    padding-top: 10;
  
  }
  
  .nav-bar nav {
    padding-left: 25%;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
  }
  
  .nav-bar h3 {
    margin: 35px 0;
    text-align: right;
    color: #648880;
  }
  
  .nav-bar ul {
    display: flex;
    list-style: none;
    text-decoration-style: none;
    text-align: right;
    font-size: 14px;
  }
  
  .nav-bar li {
    margin-right: 10%;
  }
  
  .nav-bar a, .title a {
    color: white;
  }
  
  .nav-bar a:hover {
    color: #648880;
  }
  
  .box a {
    color: #648880;
  }
  
  .nav li {
    display: flex;
    list-style: none;
    color: white;
    margin-right: 25%;
  }
  
  .venue {
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 45px 0;
  }
  
  .venue h1 {
    color: #648880;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .venue p {
    color: #888888;
    font-size: 24px;
    font-size: 100;
    padding: 0 12%;
    text-align: center;
    padding-bottom: 15px;
  }
  
  
  /* Map Area */
  .map-feature{
    padding: 5% 20%;
  }
  
  .map-addr {
    color: #888888;
    font-size: 1.2em;
  }
  
  .map-feature a {
    color: #648880;
    font-size: 22px;
    text-decoration: none;
  }
  
  .tel {
    color: #888;
    font-size: 1.2em;
  }
  
    
  .map {
    margin-left: 30%;
    margin-top: 0.5%;
  }
  
  /*First Map*/
  .map-geo {
    display: flex;
    justify-content: center;
    margin: 2% 15%;
  }
  
  .city-loc {
    margin-top: 10%;
    margin-left: 23%;
  }
  
  .map-name {
    color: #648880;
    font-size: 145%;
    font-weight: 400;
  }
  
  /* Second Map */
  .map-geo-two{
    display: flex;
    justify-content: center;
    margin: 4%;
  } 
  
  .hotel-loc {
    margin-top: 10%;
    margin-left: 15%;
  }
  /* End of Map Area */
  
  
  /* ----Footer---- */
  .footer {
    background-color: #293F50;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 2% 20%;
  }
  
  .subtitle2 {
    color: #648880;
    margin-left: 5%;
  }
  
  .footer-items {
    list-style: none;
    display: flex;
  
    
  }
  
  .footer-items li {
    padding: 0 5%;
   /* padding: 0 5%;
   margin-right: 30%; */
  }
  
  .footer a {
    color: white;
  }
  
  .footer a:hover {
    color: #648880;
  }
  
  