* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}

.body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-bar {
  background-color: #293F50;
  padding: 35px 50px;
  display: flex;
}

.nav-bar h1 {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  color: white;
  margin-left: 10%;
}

.nav-bar nav {
  padding-left: 40%;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}

.nav-bar h3 {
  margin: 66px 0 0px 0;
  text-align: right;
  color: #648880;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  text-decoration-style: none;
  text-align: right;
  font-size: 14px;
}

.nav-bar li {
  margin-right: 10%;
}

.nav-bar a {
  color: white;
}

.nav-bar a:hover {
  color: #648880;
}

.box a {
  color: #648880;
}

.nav li {
  display: flex;
  list-style: none;
  color: white;
  margin-right: 25%;
}

.main {
}

.venue {
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 45px 0;
}

.venue h1 {
  color: #648880;
  text-align: center;
  margin-bottom: 25px;
}

.venue p {
  color: #888888;
  font-size: 24px;
  font-size: 100;
  padding: 0 12%;
  text-align: center;
  padding-bottom: 15px;
}

.features {
  margin: 5% 12%;
  color: #648880;
}

.map {
  display: flex;
}

.features h2 {
  margin-bottom: 5px;
}

.features p {
  margin-bottom: 10px;
}

.features a {
  color: #648880;
}

.footer {
  background-color: #293F50;
  padding: 25px;
}

.footer p {
  color: #648880;
  margin: 1% 15%;
}

.footer ul {
  list-style: none;
  display: flex;
  margin-left: 60%;
}

.footer li {
  margin-right: 10%;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #648880;
}

